body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: black;
}

#score
{
    position: absolute;
    top: 89px;
    left: 373px;
    background-color: greenyellow;
    width: 150px;
}

#main
{
    width: 600px;
    height: 300px;
    background-color: greenyellow;
    border: 10px solid gray;
}

.snake {
    width: 15px;
    height: 15px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}