//Variables for colors
//Background colors
$gameBackground: #8da259;
$snakeColor: #2c311d;
//border-radius
$border-radius: 10px;
$border-radius-items: 20%;
//sizes for little boxes
$width: 150px;
$height: 50px;
//Sizes for elements
$width-snake: 20px;
$height-snake: 20px;

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: $gameBackground;
}

#score
{
    position: absolute;
    top: 89px;
    left: 373px;
    background-color: $gameBackground;
    width: $width;
    height: $height;
    font-weight: bolder;
    border-radius: $border-radius;
}

#main
{
    width: 600px;
    height: 300px;
    background-color: $gameBackground;
    border: 10px solid $snakeColor;
}

.snake, #food
{
    width: $width-snake;
    height: $height-snake;
    background-color: $snakeColor;
    border-radius: $border-radius-items;
    position: absolute;
}

// #food
// {
//     width: $width-snake;
//     height: $height-snake;
//     background-color: wheat;
//     border-radius: $border-radius-items;
//     position: absolute;
// }


.container
{
    position: absolute;
    left: 844px;
    top:89px;
    text-align: center;
    background-color: $gameBackground;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    font-weight: bolder;
}
